---
import GithubIcon from "../assets/brand-github.svg";
import LinkedInIcon from "../assets/brand-linkedin.svg";
import NvimIcon from "../assets/nvim.svg";
---

<header id="hero" class="min-h-screen flex items-center">
  <div
    class="container max-w-6xl mx-auto px-8 flex flex-col md:flex-row md:items-center md:justify-between"
  >
    <div class="flex-1">
      <h1 class="font-plex text-4xl md:text-6xl text-primary font-bold">
        Hi, I'm Josiah.<span class="animate-blink text-primary">|</span>
      </h1>
      <p class="text-xl text-muted max-w-2xl mt-4 mb-8">
        A Fullstack Engineer with 5 years of experience, currently working at
        Capital One. As a hobby, I build Terminal UIs along with Neovim plugins.
      </p>
      <div class="flex gap-4 mt-2">
        <a
          class="text-primary font-plex"
          aria-label="jump to experience section"
          href="#experience"
        >
          Experience
        </a>
        <a
          class="text-primary font-plex"
          aria-label="jump to projects section"
          href="#projects"
        >
          Projects
        </a>
        <a
          href="https://www.github.com/vertexE"
          aria-label="open github profile"
          rel="noopener noreferrer"
        >
          <GithubIcon class="w-6 h-6" />
        </a>
        <a
          href="https://www.linkedin.com/in/josiah-denton-3a04a4168/"
          aria-label="open linkedin page"
          rel="noopener noreferrer"
        >
          <LinkedInIcon class="w-6 h-6" />
        </a>
        <a
          href="https://www.github.com/vertexE/init.lua"
          aria-label="open dotfiles in github"
          rel="noopener noreferrer"
        >
          <NvimIcon class="w-6 h-6" />
        </a>
      </div>
    </div>
  </div>
</header>
